html {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.main {
  max-width: 684px;
  margin: 144px auto;
}

.main__icon {
  font-size: 60px;
}

.main__title {
  margin: 24px auto 40px;
  font-size: 42px;
  font-weight: bold;
  line-height: 2.2;
  border-bottom: 1px solid #e5e5e5;
}

.block {
  display: flex;
  align-items: baseline;
  margin-left: -110px;
}

.block:hover .btn-group {
  visibility: visible;
}

.block-title {
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 16px;
}

.block-paragraph {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.75;
}

.btn-group {
  visibility: hidden;
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 11px;
}

.btn-group__item {
  margin-right: 5px;
}

.btn {
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}

.btn_type_h1 {
  background-image: url("./icons/h1.svg");
}
.btn_type_text {
  background-image: url("./icons/text.svg");
}
.btn_type_delete {
  background-image: url("./icons/delete.svg");
}
.btn_type_move {
  background-image: url("./icons/move.svg");
}
